
/* ----------------External Font------------------------------------------------*/
@font-face {
    font-family: 'Stone Sans ITC TT';
    src: url('../fonts/StoneSansITCTTBold.eot');
    src: url('../fonts/StoneSansITCTTBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StoneSansITCTTBold.woff2') format('woff2'),
        url('../fonts/StoneSansITCTTBold.woff') format('woff'),
        url('../fonts/StoneSansITCTTBold.ttf') format('truetype'),
        url('../fonts/StoneSansITCTTBold.svg#StoneSansITCTTBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Stone Sans ITC TT';
    src: url('../fonts/StoneSansITCTTMedium.eot');
    src: url('../fonts/StoneSansITCTTMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StoneSansITCTTMedium.woff2') format('woff2'),
        url('../fonts/StoneSansITCTTMedium.woff') format('woff'),
        url('../fonts/StoneSansITCTTMedium.ttf') format('truetype'),
        url('../fonts/StoneSansITCTTMedium.svg#StoneSansITCTTMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'source_sans_problack';
    src: url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Webkit */
::-webkit-input-placeholder { color: #8f959a; }
:-moz-placeholder { color: #8f959a; }
::-moz-placeholder { color: #8f959a; }
*:-ms-input-placeholder {color: #8f959a !important;}
.clr {clear: both;}
body{width: 100%;font-family: 'Stone Sans ITC TT'; font-size: 14px; -webkit-font-smoothing: antialiased; letter-spacing: 0.4px;}
img{max-width: 100%; height: auto;}
h5, h6 , h1 , h2 , h3 , h4 {font-weight: normal;font-family: 'Stone Sans ITC TT'; }
select::-ms-expand{display:none;}
select{ -webkit-appearance:none;}
dl, dt, dd, ol, ul, li {margin: 0;padding: 0;  list-style-type: none;}
a:active , select , select:focus , a:focus , a:hover , input:focus , button:focus , textarea:focus {outline: none !important; text-decoration: none; color: #444;}
a , button{text-decoration: none;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s; cursor: pointer;}
option{ padding: 10px;}
textarea {resize: none;}

/*****************************HOME PAGE CSS START HERE*****************************/

/*logo-menu css*/
.modal-open .modal{padding: 0 !important;}
.main-logo {margin-top: 5px;}
.logo-block{float: left}
.header{padding: 5px 100px; position: fixed; z-index: 99;width: 100%;box-shadow: 2px 0 3px 0 #444;background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 30%, rgba(2,26,66,1) 67%, rgba(2,26,66,1) 80%);
background: -webkit-gradient(left top, right top, color-stop(14%, rgba(255,255,255,1)), color-stop(30%, rgba(255,255,255,1)), color-stop(67%, rgba(2,26,66,1)), color-stop(80%, rgba(2,26,66,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 30%, rgba(2,26,66,1) 67%, rgba(2,26,66,1) 80%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 30%, rgba(2,26,66,1) 67%, rgba(2,26,66,1) 80%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 30%, rgba(2,26,66,1) 67%, rgba(2,26,66,1) 80%);
background: linear-gradient(to right, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 30%, rgba(2,26,66,1) 67%, rgba(2,26,66,1) 80%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#021a42', GradientType=1 );}
.blank-div{height: 74px;}
#new_word > span {display: inline-block; vertical-align: text-bottom;}
.icon-btn, .banner-img-block{display: none;}
.sidenav {position: relative; z-index:99999; transition: 0.5s; float: right; padding: 20px 0 10px;}
.sidenav a:hover, .offcanvas a:focus{ color: #222;}
.sidenav .closebtn {position: absolute; top: 0px; left: 8px; font-size: 30px; display: none;}
.sidenav .closebtn:hover{color: #ddd;}
#main {transition: margin-left .5s;}
.header .menu-icon{font-size:22px;cursor:pointer;display: none;float: right; position: relative; top: 17px;}
.overlay{overflow: hidden;z-index: 99999;background:rgba(0,0,0,0.6);position: fixed;width: 100%;height: 100%;}
.min-menu li {display:inline-block;position: relative; margin-left: 30px;}
.min-menu li a {font-size: 16px; text-decoration: none; color: #fff; display:block; transition: 0.3s; font-weight: normal; text-transform: uppercase;}
.min-menu li a:hover{color: #6f84a5;}
/*logo menu css end here*/

/*banner section start here*/
.banner{height: 590px; position: relative; text-align: center; background-image: url("../images/home-background.jpg"); background-repeat: no-repeat;}
.banner-text-block {padding-top: 160px; z-index: 8; position: relative;}
.banner-text-block h1 {color: #d2d3d5;font-weight: normal;font-size: 44px; text-transform: uppercase;}
.banner-text-block h1 span{display: block; color: #d22e24; font-weight: bold;}
.banner-text-block p {color: #d2d3d5;font-weight: normal;font-size: 24px;margin: 30px auto 0;}
.yellow-line {background-color: #fdb74e;width: 86px;height: 3px;margin: 15px auto;}
/*banner section end here*/
.mldhide{color: #337ab7;}
.mldhide:hover{color: #fff;}
.solutions-ltd-section{padding:6% 0; background-image: url("../images/pattern-bgs.jpg"); background-repeat: no-repeat;background-position: bottom; background-color: #e9ecf5;}
.image-section-img{text-align: center; margin: 30px 0;}
.text-tridents p{font-size: 18px; font-weight: normal; color: #76bbe7; font-family: 'source_sans_proregular';}
.title-solution{font-size: 46px; font-weight: bold; position: relative;margin-bottom: 40px; color: #76bbe7; font-family: 'source_sans_probold';}
.text-tridents{margin-top: 20px;}
.title-tx{font-size: 20px; letter-spacing: 0px; font-weight: 600; color: #2b2f32; overflow:hidden;white-space: nowrap; width: 100%; text-overflow: ellipsis; }
.p-tag{font-size: 15px; color: #6a7680; margin-bottom: 30px; font-family: 'Stone Sans ITC TT'; margin-top: 15px; display: block;overflow:hidden;height: 46px; }
.texts-part{padding: 20px;}
.product-sections-col-four{max-width: 360px; background-color: #f6f7f8; margin: 0 auto 30px; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s;}
.a-links-dm{text-transform: uppercase; font-size: 11px; color: #0e5eb8; background-image: url("../images/arrow-pcts.png"); background-repeat: no-repeat; display: inline-block; padding-right: 33px; background-position: right -6px;}
.a-links-dm:hover{color: #333; background-position: right -42px; color: #727a8d;} 
.more-read{display: inline-block; padding:12px 40px; border-radius: 30px; border:2px solid #0e5eb8; color: #2b2f32; font-size: 16px; text-transform: uppercase; text-align: center; }
.more-read:hover{background-color: #0e5eb8; color: #fff;}
.more-button-section{text-align: center;}
.product-section-col{padding:6% 0px; background: #ffffff; background: -moz-linear-gradient(left, #ffffff 28%, #021a42 54%);
background: -webkit-linear-gradient(left, #ffffff 28%,#021a42 54%); background: linear-gradient(to right, #ffffff 28%,#021a42 54%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#021a42',GradientType=1 ); }
.product-sections-col-four .a-links-dm{color: #727a8d; background-position: right -42px; }
.product-sections-col-four:hover .a-links-dm{color: #0e5eb8; background-position: right -6px;}
.product-sections-col-four:hover{ box-shadow: 1px 3px 26px -6px rgba(41, 41, 41, 0.39); background-color: #fff;}
.contact-us-seccn{background-image: url("../images/footer-bg-nw.png"); text-align: center; background-repeat: no-repeat; }
.title-cont-us{font-size: 40px; font-weight: normal; letter-spacing: 0; text-transform: uppercase; color: #fff;}
.contt-info{color: #ec3b30; font-size: 24px;letter-spacing: 5px;}
.registered-clas{font-size: 23px; text-transform: uppercase; color: #fff; margin-top: 30px;}
.address-tx{font-size: 20px; color: #858c91; margin-top: 20px;}
.main-conts{padding:9% 0; }
.copyright-cls{color: #969caa; padding:15px; font-size: 16px; text-align: center; background-color: rgba(23, 26, 36, 0.70); border-top: 1px solid #495064;}
.copyright-cls a{color: #fff;}
.copyright-cls a:hover{color: #969caa;}
/*****************************HOME PAGE CSS END HERE*****************************/

.close.btns-cls{position: absolute; right: 20px; top:20px; opacity: 1;z-index: 99;}
.modal-backdrop.in{background-image: url(../images/modal-bg.jpg); background-repeat:no-repeat;opacity: 1;}
.modal-dialog.container-width{ width: 100%;  background-color: transparent; margin: 0 auto !important;}
.container-width .modal-content{max-width: 1170px; padding-top: 60px; width: 100%; margin: 0 auto; background-color: transparent;box-shadow: none; border:none;}
.container-width .modal-header{border-bottom: none;}
.container-width .modal-footer{border-top: none;}
.title-modal-red{font-size: 55px; font-weight: 100; font-family: 'Stone Sans ITC TT'; color: #fff; text-align: center;}
.title-modal-red span{display: inline-block; font-weight: bold;}
.txt-subtitles{color: #969aa1; font-size: 20px; text-transform: uppercase; text-align: center; font-weight: 100;}
.txt-p-sub{font-size: 15px; color: #bcbcbc; text-align: center; margin: 40px auto; width: 90%;}
.main-content-section-mdl{border-radius: 30px; background-color: #0c141d; padding: 50px; color: #8c8d8d; background-color: rgba(12, 20, 29, 0.55);}
.scroll-text-height{height: 350px;}
.ftr-mdl .i-agree-cls{display: inline-block; padding:8px 20px; background-color: #1d84ea; color: #fff; font-size: 13px; border-radius: 30px; text-align: center; margin-bottom: 10px;}
.ftr-mdl .i-agree-cls:hover{background-color: #fff; color: #1d84ea;}
.p-footr {display: inline-block; margin-left: 20px; }
.ftr-mdl{color: #969aa1; font-size: 15px; text-align: center; margin: 50px 0;}
.terms-a{color: #fff; text-decoration: underline;}
.terms-a:hover{color: #969aa1;}
.label-radio{font-size: 22px; color: #cdd1d4; margin-bottom: 15px;}
/*Radio Buttons*/
.radio-btns .radio-btn{display: block;position: relative;float: left;}
.radio-btns .radio-btn input[type=radio]{position: absolute;visibility: hidden;}
.radio-btns .radio-btn label{font-family: "open sans";font-weight: normal;color: #646464;display: block;
position: relative;font-size: 16px;padding: 0px 25px 0px 27px;margin: 10px auto;z-index: 9;cursor: pointer;-webkit-transition: all 0.25s linear;}
.radio-btns .radio-btn .check{display: block;position: absolute; background-color: #cedae0; border: 2px solid #cedae0;border-radius: 100%;
height: 20px;width: 20px;top: 12px;left: 0px;z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;}
.radio-btns .radio-btn .check::before {border-radius: 100%;content: "";display: block;height: 14px;
left: 1px;margin: auto;position: absolute;top: 1px;transition: background 0.25s linear 0s;width: 14px;}
.radio-btns input[type=radio]:checked ~ .check {border: 2px solid #cedae0;}
.radio-btns input[type=radio]:checked ~ .check::before{background: #008fd2;}
.radio-btns input[type=radio]:checked ~ label{color: #cedae0;}
.user-box1 {margin-top: 24px;position: relative;}
.user-box1 > label {color: #858c91;display: inline-block;font-weight: 500;margin-right: 12px;margin-bottom: 5px;font-size: 16px;}
.user-box1 .cont-frm {border: 1px solid #3c4053;border-radius: 3px;display: block;height: 40px;line-height: 18px;
padding: 5px 25px 5px 10px;width: 100%;background-color: #090c14;margin-bottom: 3px;color: #cdd1d4;font-weight: 500;font-size: 15px;}
.frm-select {background-color: #090c14;border: none;width: 100%;margin: 0;-moz-appearance: none;color: #cdd1d4;height: 100%;}
.frm-select option{color: #cdd1d4;}
.cont-frm.arrow-down {background-image: url(../images/select-arws.png);background-position: right;background-repeat: no-repeat;}
.space-btm-mrg{margin-bottom: 50px;}
.txt-subtitles.space-btn-asnr{margin-bottom: 40px;}
.confirm-estmodal{background-color: #008fd2; border: 2px solid #008fd2; color: #ededed; font-size: 16px; text-transform: uppercase; padding:14px 40px; border-radius: 30px; }
.confirm-estmodal:hover{background-color: transparent; color: #008fd2;}
.email-note{color: #ff0000; text-align: center;font-size: 20px; margin-top: 30px;}
.addclass{display: none !important;}
body{padding:0 !important ;}

/*checkbox css start*/
.check-box{display:block;margin-bottom:5px;}
input.css-checkbox[type="checkbox"] {border: 0 none; clip: rect(0px, 0px, 0px, 0px); height: 1px; left: -1000px; margin: -1px; overflow: hidden; padding: 0; position: absolute;
width: 1px; z-index: -1000;}
input.css-checkbox[type="checkbox"]:checked + label.css-label {background-position: 0 -44px;}
input.css-checkbox[type="checkbox"] + label.css-label {background-position:0 -1px; background-repeat: no-repeat; cursor: pointer; display: inline-block;height: 21px; padding-left: 30px; vertical-align: middle; color: #858c91;font-weight: normal;line-height: 20px;}
label.css-label {-moz-user-select: none; background-image: url(../images/check-bx.png); font-size: 17px;}
label {margin-right: 0px;}
.check-box-inline{display: inline-block;margin-right: 20px;}
/*checkbox css end*/


@media all and (max-width:1100px){
/*Top Menu css start here*/
.blank-div{height: 51px;}
.header{ padding: 5px 30px;}
.sidenav {height: 100%; width: 0; position: fixed; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; min-width: auto; padding: 0;}
.sidenav .closebtn{display: block; z-index: 1; color: #ffffff;}	
.img-responsive-logo{background-color: rgba(43, 43, 43, 0.52); width: 100%; position: absolute; height: 100%;top: 0px;}
.banner-img-block{height: 150px; width: 100%; background-size: cover; margin-bottom: 2px; text-align: center; padding-top: 49px;display: block; position: relative;background-image:url(../images/top-bg.jpg); background-position: center center; background-repeat: no-repeat; height: 150px; width: 100%;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }    
.banner-img-block img{width: 230px; z-index: 1; position: relative;}
.header .menu-icon{display: block; color: #fff;}	
.min-menu li{display: block; border-bottom: 1px solid #555555; margin-left: 0;}	
.min-menu li a{color: #cfcfcf; padding: 12px 10px; font-size: 14px;}
.min-menu li a:hover{color: #ffffff;}	
.min-menu li:last-child{border-bottom: none;}
/*Top Menu css End here*/
}


@media all and (max-width:991px){
    .solutions-ltd-section{background-color: #e0e0ea; background-image: none;}
.main-content-section-mdl{padding: 25px;}
.title-modal-red{font-size: 30px;}
.txt-subtitles{font-size: 16px;}
.close.btns-cls img{width: 25px;}
.logo-block{width: 60px;overflow: hidden;}
.logo-block img{max-width: inherit;}
.header{background: rgba(255,255,255,1); background: -moz-linear-gradient(left, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 65%, rgba(2,26,66,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(44%, rgba(255,255,255,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(2,26,66,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 65%, rgba(2,26,66,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 65%, rgba(2,26,66,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 65%, rgba(2,26,66,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 65%, rgba(2,26,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#021a42', GradientType=1 );}
.text-tridents p{padding-left: 40px;}
}


@media all and (max-width:767px){
.product-section-col{background: #ffffff; background: -moz-linear-gradient(top, #ffffff 29%, #021a42 58%); 
background: -webkit-linear-gradient(top, #ffffff 29%,#021a42 58%); background: linear-gradient(to bottom, #ffffff 29%,#021a42 58%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#021a42',GradientType=0 ); }

.banner-text-block h1{font-size: 30px;}
.banner-text-block p{font-size: 17px;}
.banner{height: auto;}
.banner-text-block{padding:70px 0; }
.image-section-img img{width: 200px;}
.title-solution{text-align: center; font-size: 36px;}
.title-solution:after{left: 0; right: 0; margin: 0 auto;}
.solutions-ltd-section{background-image: none;}
.text-tridents p{font-size: 15px; padding-left: 0px;}
.title-cont-us{font-size: 40px;}
.contt-info{font-size: 19px;}
.registered-clas{font-size: 20px;}
.address-tx{font-size: 17px;}
}